
  .industries {
    padding: 20px;
    
  }

  .industriess{
    background-color: rgb(26, 171, 26);
    width: 500px;
    position: relative;
    left: 500px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #4CAF50;
  }
  

  @media  (max-width:768px) {
    .industriess{
    width: 470px;
        
    }
  }

  